aiohttp
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
httpx
lxml
motor
mutagen
natsort
pillow
psutil
pybase64
pymongo
pyrogram
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto

# bot\__init__.py
# from uvloop import install
# uvloop
#  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
xattr
yt-dlp